body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.title-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 26px;
    margin: 15px 0px 5px 0px;
}
p {
    font-size: 14px;
    margin: 0px 0px 5px 0px;
    padding: 0;
    width: 700px;
}
.startGame {
    margin: 10px 0px 0px 0px;
}
#gameContainer {
    background-color: white;
    margin-top: 15px;
    height: 520px;
    width: 720px;
    display: grid;
    grid-template-rows: repeat(10, 52px); 
}

.Zone-End {
    grid-row: 1/2;
    grid-column: 1;
    background-color: white;
}
.Zone8 {
    grid-row: 2/3;
    grid-column: 1;
    background-color: red;
}
.Zone7 {
    grid-row: 3/4;
    grid-column: 1;
    background-color: orange;
}
.Zone6 {
    grid-row: 4/5;
    grid-column: 1;
    background-color: yellow;
}
.Zone5 {
    grid-row: 5/6;
    grid-column: 1;
    background-color: green;
}
.Zone4{
    grid-row: 6/7;
    grid-column: 1;
    background-color: rgb(35, 136, 111);
}
.Zone3 {
    grid-row: 7/8;
    grid-column: 1;
    background-color: blue;
}
.Zone2 {
    grid-row: 8/9;
    grid-column: 1;
    background-color: indigo;
}
.Zone1 {
    grid-row: 9/10;
    grid-column: 1;
    background-color: violet;
}
.Zone-Start {
    grid-row: 10;
    grid-column: 1/end;
    background-color: white;
}
.player {
    grid-row: 10;
    grid-column: 1;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    margin-top: 0px;
    margin-right: 339px;
    margin-bottom: 0px; 
    margin-left: 339px;
    align-self: center;
    /* position: absolute; Positioning zones relatively and player/obstacles absolutely allows player/obstacles to be placed indepedently on the page */

}

.obstacle { 
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
} 
.motionLeft {
    margin-right: 0px;
    margin-left: 660px;
}
.motionRight {
    margin-right: 660px;
    margin-left: 0px;
}
.motionLeftOffset {
    margin-right: 360px;
    margin-left: 300px;
}
.motionRightOffset {
    margin-right: 300px;
    margin-left: 360px;
}

.obstacle1 {
    grid-row: 9/10;
}
.obstacle9 {
    grid-row: 9/10;
}
.obstacle2 {
    grid-row: 8/9;
}
.obstacle10 {
    grid-row: 8/9;
}
.obstacle3 {
    grid-row: 7/8;
}
.obstacle11 {
    grid-row: 7/8;
}
.obstacle4 {
    grid-row: 6/7;
}
.obstacle12 {
    grid-row: 6/7;
}
.obstacle5 {
    grid-row: 5/6;
}
.obstacle13 {
    grid-row: 5/6;
}
.obstacle6 {
    grid-row: 4/5;
}
.obstacle14 {
    grid-row: 4/5;
}
.obstacle7 {
    grid-row: 3/4;
}
.obstacle15 {
    grid-row: 3/4;
}
.obstacle8 {
    grid-row: 2/3;
}
.obstacle16 {
    grid-row: 2/3;
}
h3 {
    display: none;
    color: white;
    font-size: 26px;
    margin-top: 35px;
    margin-bottom: 0px;
}
.playAgain {
    display: none;
    margin-top: 10px;
}