body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    background-color: white;
    height: 520px;
    width: 720px;
    display: grid;
    /*grid-template-columns: repeat(10, minmax(0,1fr));*/
    grid-template-rows: auto;
}

.Zone-End {
    grid-row: 1/2;
    grid-column: 1;
    background-color: white;
}
.Zone8 {
    grid-row: 2/3;
    grid-column: 1;
    background-color: violet;
}
.Zone7 {
    grid-row: 3/4;
    grid-column: 1;
    background-color: purple;
}
.Zone6 {
    grid-row: 4/5;
    grid-column: 1;
    background-color: green;
}
.Zone5 {
    grid-row: 5/6;
    grid-column: 1;
    background-color: orange;
}
.Zone4{
    grid-row: 6/7;
    grid-column: 1;
    background-color: yellow;
}
.Zone3 {
    grid-row: 7/8;
    grid-column: 1;
    background-color: red;
}
.Zone2 {
    grid-row: 8/9;
    grid-column: 1;
    background-color: blueviolet;
}
.Zone1 {
    grid-row: 9/10;
    grid-column: 1;
    background-color: teal;
}
.Zone-Start {
    grid-row: 10;
    grid-column: 1/end;
    background-color: white;
}
.player {
    grid-row: 10;
    grid-column: 1;
    background-color: black;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    margin-top: 5px;
    margin-right: 339px;
    margin-bottom: 5px; 
    margin-left: 339px;

}

/* .obstacle { //trying to create multiple classes to make code dry
    grid-column: 1;
    /*grid-column: 3/4;*/
    /* margin-top: 5px;
    margin-bottom: 5px;
    background-color: purple;
    border-radius: 10px;
}
.motionLeft {
    margin-right: 0px;
    margin-left: 660px;
}
.motionRight {
    margin-right: 660px;
    margin-left: 0px;
}  */ 
.obstacle1 {
    grid-row: 9/10;
    grid-column: 1;
    /*grid-column: 3/4;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 660px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle2 {
    grid-row: 8/9;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 660px;
    margin-left: 0px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle3 {
    grid-row: 7/8;
    grid-column: 1;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 660px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle4 {
    grid-row: 6/7;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 660px;
    margin-left: 0px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle5 {
    grid-row: 5/6;
    grid-column: 1;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 660px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle6 {
    grid-row: 4/5;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 660px;
    margin-left: 0px;
    background-color: purple;
    border-radius: 10px;
}
.obstacle7 {
    grid-row: 3/4;
    grid-column: 1;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 660px;
    background-color: blue;
    border-radius: 10px;
}
.obstacle8 {
    grid-row: 2/3;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 660px;
    margin-left: 0px;
    background-color: purple;
    border-radius: 10px;
}
