body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    background-color: white;
    height: 520px;
    width: 720px;
    display: grid;
    /*grid-template-columns: repeat(10, minmax(0,1fr));*/
    grid-template-rows: auto;
}